@page "/professional/{id}"
@model FindingHealthcareSystem.Pages.Professional.DetailModel
@{
}
<div class="container mt-10">
    <h1>
        view detail of a professional including reviews, services, ... (guest-patient role)
    </h1>
</div>