@page "facility/{id}"
@model FindingHealthcareSystem.Pages.Facility.DetailModel
@{
}
<div class="container mt-10">
    <h1>
        view detail of a facility including reviews, services,... (guest-patient role)
    </h1>
</div>