@page "admin/facility/service/create"
@model FindingHealthcareSystem.Pages.Admin.Facility.Service.CreateModel
@{
}
<div class="container mt-10">
    <h1>
        create facility service
    </h1>
</div>