@page "admin/facility/service/edit/{serviceid}"
@model FindingHealthcareSystem.Pages.Admin.Facility.Service.EditModel
@{
}
<div class="container mt-10">
    <h1>
       edit service of facility
    </h1>
</div>