@page "patient/appointment/{appointmentid}/record"
@model FindingHealthcareSystem.Pages.Patient.Appointment.AppointmentRecordModel
@{
}
<div class="container mt-10">
    <h1>
        record of appointment
    </h1>
</div>