@page "patient/appointment/{appointmentid}"
@model FindingHealthcareSystem.Pages.Patient.Appointment.DetailModel
@{
}
<div class="container mt-10">
    <h1>
        detail of appointment
    </h1>
</div>