@page "professional/appointment/{patientid}"
@model FindingHealthcareSystem.Pages.Patient.Appointment.PatientAppointmentModel
@{
}
<div class="container mt-10">
    <h1>
        list of appointment (1 patient)
    </h1>
</div>