@page "professional/appointment/{appointmentid}/record"
@model FindingHealthcareSystem.Pages.Professional.Appointment.AppointmentRecordModel
@{
}
<div class="container mt-10">
    <h1>
        record of appointment, prof can edit and update attachment
    </h1>
</div>