@page "professional/appointment/{appointmentid}"
@model FindingHealthcareSystem.Pages.Professional.Appointment.EditModel
@{
}
<div class="container mt-10">
    <h1>
        detail of appointment, prof can accept or reject or change time, view medical record here
    </h1>
</div>